### Load forest inventory data from database ('Bundeswaldinventur 2012' https://www.bundeswaldinventur.de/)

In [25]:
import pandas as pd
import geopandas as gpd
import psycopg2

# PostGIS connection credentials
user = 'dc_user'
password = 'localuser1234'
host = '127.0.0.1'
port = '5432'
database = 'datacube'

In [26]:
connection = psycopg2.connect(user = user,
                              password = password,
                              host = host,
                              port = port,
                              database = database)

table =pd.read_sql_query("SELECT * FROM information_schema.columns WHERE table_schema = 'public';",con=connection )
connection.close()
table

# to have a look to all entries, use following to show in the notebook
#pd.set_option("display.max_rows", None, "display.max_columns", None)
#table
# or
# write a to csv table to the dir of the used notebook
#table.to_csv('./table.csv')

,table_catalog,table_schema,table_name,column_name,ordinal_position,column_default,is_nullable,data_type,character_maximum_length,character_octet_length,...,is_identity,identity_generation,identity_start,identity_increment,identity_maximum,identity_minimum,identity_cycle,is_generated,generation_expression,is_updatable
0,datacube,public,auth_group,id,1,nextval('auth_group_id_seq'::regclass),NO,integer,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
1,datacube,public,auth_group,name,2,None,NO,character varying,80.0,320.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
2,datacube,public,accounts_activation,username,1,None,NO,character varying,30.0,120.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
3,datacube,public,accounts_activation,url,2,None,NO,uuid,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
4,datacube,public,accounts_activation,time,3,None,NO,timestamp with time zone,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,datacube,public,demmin_landnutzung_2017,cg_id,7,None,YES,smallint,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
881,datacube,public,demmin_landnutzung_2017,cc_id,8,None,YES,smallint,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES
882,datacube,public,demmin_landnutzung_2017,sub_class,9,None,YES,character varying,25.0,100.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
883,datacube,public,demmin_landnutzung_2017,crop_pract,10,None,YES,character varying,50.0,200.0,...,NO,None,None,None,None,None,NO,NEVER,None,YES
884,datacube,public,demmin_landnutzung_2017,geom,11,None,YES,USER-DEFINED,NaN,NaN,...,NO,None,None,None,None,None,NO,NEVER,None,YES

In [28]:
# check db entry by name, here 'etrs89_bwi_2012p'
# 1. open connection first, 2. write data, 3. close afterwards
connection = psycopg2.connect(user = user,
                              password = password,
                              host = host,
                              port = port,
                              database = database)
# write attribute names
tables =pd.read_sql_query("SELECT  column_name FROM information_schema.columns WHERE table_name = 'etrs89_bwi_2012p';",con=connection )
connection.close()
# show attributes of table 'etrs89_bwi_2012p'
tables

   column_name
0          gid
1          tnr
2      mitrand
3     anzhbbeg
4       phaupt
5      pohaupt
6      pquerus
7       pfagus
8    pfraxinus
9    pcarpinus
10       pacer
11      ptilia
12    probinia
13      pulmus
14   pcastanea
15    potherlh
16     pbetula
17      palnus
18    ppopulus
19      psalix
20     psorbus
21     pprunus
22      pmalus
23      ppyrus
24    potherln
25      ppicea
26      ppinus
27      pabies
28    pdouglas
29      plarix
30    pothernb
31    pnoeurop
32   pnoeuropd
33      peurop
34      pdecid
35    pconifer
36        pall
37     cell_id
38        epsg
39        netz
40      dichte
41          bl
42        geom

In [29]:
# check percent share of plot 'plarix' ('p' percent share, 'larix' lärche )
connection = psycopg2.connect(user = user,
                              password = password,
                              host = host,
                              port = port,
                              database = database)

table =pd.read_sql_query("SELECT  plarix FROM etrs89_bwi_2012p;",con=connection)
connection.close()
table

      plarix
0        0.0
1        0.0
2        0.0
3        0.0
4        0.0
...      ...
2837     0.0
2838     0.0
2839     0.0
2840     0.0
2841     0.0

[2842 rows x 1 columns]

In [30]:
# show betula areas with > 50 % share
table.loc[table['plarix'] > 0.50]

      plarix
33     0.743
172    0.580
466    1.000
478    0.542
643    0.507
691    0.779
964    0.541
1093   1.000
1967   0.719
2075   0.968
2231   0.621
2429   0.628
2628   0.525

In [32]:
# load db entry into shapefile
# db connection
connection = psycopg2.connect(database=database, 
                              user=user, 
                              password=password, 
                              host=host)

# choose attributes, e.g. when comparing 
# table =pd.read_sql_query("SELECT  column_name FROM information_schema.columns WHERE table_name = 'etrs89_bwi_2012p';",con=connection )
# with 
# inventory metadata (/Datacube/Forest inventory data/MetadatenFuerTraktdaten.csv for layer-name 'GFs_ReinbestandGattung_mitSp_PolyVar')


sql_command = "SELECT geom, pquerus, pfagus, pfraxinus FROM etrs89_bwi_2012p;"
forest = gpd.GeoDataFrame.from_postgis(sql_command, connection) 
connection.close()

forest

,geom,pquerus,pfagus,pfraxinus
0,"MULTIPOLYGON (((597233.574 5241596.664, 597233...",0.000,0.313,0.000
1,"MULTIPOLYGON (((595210.408 5243571.865, 595210...",0.000,0.097,0.000
2,"MULTIPOLYGON (((599205.778 5243622.840, 599205...",0.000,0.000,0.000
3,"MULTIPOLYGON (((593187.241 5245547.065, 593187...",0.000,0.000,0.000
4,"MULTIPOLYGON (((597182.612 5245598.041, 597182...",0.000,0.513,0.121
...,...,...,...,...
2837,"MULTIPOLYGON (((620849.021 5575961.846, 620849...",0.697,0.024,0.000
2838,"MULTIPOLYGON (((660823.100 5577490.897, 660823...",0.000,0.000,0.000
2839,"MULTIPOLYGON (((622875.212 5573988.618, 622875...",0.000,0.000,0.000
2840,"MULTIPOLYGON (((626926.597 5570043.163, 626926...",0.000,0.000,0.000
2841,"MULTIPOLYGON (((654904.453 5571412.382, 654904...",0.000,0.000,0.000

In [17]:
connection = psycopg2.connect(database=database, 
                              user=user, 
                              password=password, 
                              host=host)

sql_command = "SELECT * FROM etrs89_bwi_2012p WHERE pquerus >= 0.8 ;"
forest = gpd.GeoDataFrame.from_postgis(sql_command, connection) 
connection.close()

forest

,gid,tnr,mitrand,anzhbbeg,phaupt,pohaupt,pquerus,pfagus,pfraxinus,pcarpinus,...,peurop,pdecid,pconifer,pall,cell_id,epsg,netz,dichte,bl,geom
0,398,1648,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4486_2747,31468,16,16,;9;,"MULTIPOLYGON (((739078.965 5300024.456, 739078..."
1,425,1911,1,1,1.000,0.000,0.897,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4506_2752,31468,16,16,;9;,"MULTIPOLYGON (((759012.947 5305259.232, 759012..."
2,975,6727,1,1,1.000,0.000,0.949,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4532_2829,31468,16,16,;9;,"MULTIPOLYGON (((784048.156 5382620.909, 784048..."
3,1020,7211,1,1,1.000,0.000,0.811,0.000,0.000,0.189,...,1.000,1.000,0.000,1.000,4380_2833,31468,16,8,;9;,"MULTIPOLYGON (((632362.472 5385096.354, 632362..."
4,1041,7260,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4576_2838,31468,16,16,;9;,"MULTIPOLYGON (((827955.456 5392140.846, 827955..."
5,1087,7733,0,1,1.000,0.000,0.921,0.000,0.000,0.079,...,1.000,1.000,0.000,1.000,4396_2841,31468,16,16,;9;,"MULTIPOLYGON (((647918.273 5392969.108, 647918..."
6,1089,7736,1,2,1.000,0.000,0.889,0.000,0.000,0.111,...,1.000,1.000,0.000,1.000,4408_2841,31468,16,16,;9;,"MULTIPOLYGON (((659911.412 5393119.991, 659911..."
7,1153,8232,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4351_2848,31467,16,4,;8;,"MULTIPOLYGON (((603420.191 5399959.587, 603420..."
8,1197,8488,1,1,1.000,0.000,0.806,0.194,0.000,0.000,...,1.000,1.000,0.000,1.000,4380_2853,31468,256,8,;9;,"MULTIPOLYGON (((632101.667 5405098.312, 632101..."
9,1238,8780,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4568_2862,31468,16,16,;9;,"MULTIPOLYGON (((819646.948 5416070.167, 819646..."
10,1246,8973,1,3,0.967,0.033,0.856,0.052,0.033,0.000,...,0.967,0.942,0.025,0.967,4371_2860,31468,64,8,;9;,"MULTIPOLYGON (((623016.331 5411982.600, 623016..."
11,1430,10090,1,1,1.000,0.000,0.907,0.000,0.000,0.000,...,1.000,0.907,0.093,1.000,4350_2878,31467,8,8,;9;,"MULTIPOLYGON (((601793.913 5429710.651, 601793..."
12,1436,10105,1,3,1.000,0.000,0.916,0.000,0.000,0.000,...,1.000,0.916,0.084,1.000,4381_2879,31468,8,8,;9;,"MULTIPOLYGON (((632762.455 5431111.871, 632762..."
13,1441,10216,1,2,1.000,0.000,0.934,0.066,0.000,0.000,...,1.000,1.000,0.000,1.000,4371_2880,31468,16,8,;9;,"MULTIPOLYGON (((622754.463 5431982.565, 622754..."
14,1473,10374,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4389_2883,31468,8,8,;9;,"MULTIPOLYGON (((640706.309 5435214.210, 640706..."
15,1548,11020,1,2,1.000,0.000,0.897,0.103,0.000,0.000,...,1.000,1.000,0.000,1.000,4338_2892,31467,4,4,;8;,"MULTIPOLYGON (((589850.760 5443787.073, 589850..."
16,1648,11597,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4394_2901,31468,256,8,;9;,"MULTIPOLYGON (((645468.522 5453277.936, 645468..."
17,1848,12799,0,4,1.000,0.000,0.884,0.000,0.000,0.000,...,1.000,0.941,0.059,1.000,4342_2918,31467,8,8,;9;,"MULTIPOLYGON (((593271.494 5469601.689, 593271..."
18,1854,12826,1,1,1.000,0.000,0.882,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4396_2919,31468,8,8,;9;,"MULTIPOLYGON (((647231.932 5471303.798, 647231..."
19,1931,13361,1,1,1.000,0.000,0.816,0.000,0.000,0.000,...,1.000,0.816,0.184,1.000,4384_2927,31468,8,8,;9;,"MULTIPOLYGON (((635131.789 5479148.706, 635131..."
20,1977,13758,0,2,1.000,0.000,0.811,0.000,0.000,0.120,...,1.000,1.000,0.000,1.000,4320_2932,31467,256,8,;9;,"MULTIPOLYGON (((571099.434 5483308.296, 571099..."
21,1979,13766,1,3,1.000,0.000,0.843,0.000,0.157,0.000,...,1.000,1.000,0.000,1.000,4336_2932,31467,256,8,;9;,"MULTIPOLYGON (((587090.074 5483520.148, 587090..."
22,1985,13793,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4390_2933,31468,16,8,;9;,"MULTIPOLYGON (((641049.465 5485225.250, 641049..."
23,1987,13799,1,4,1.000,0.000,0.818,0.000,0.000,0.026,...,1.000,0.845,0.155,1.000,4402_2933,31468,64,8,;9;,"MULTIPOLYGON (((653045.666 5485381.131, 653045..."
24,2058,14284,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4352_2940,31467,64,8,;9;,"MULTIPOLYGON (((602975.734 5491728.779, 602975..."
25,2100,14504,0,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4348_2944,31467,16,8,;9;,"MULTIPOLYGON (((598924.403 5495675.192, 598924..."
26,2147,14720,1,1,1.000,0.000,0.839,0.000,0.000,0.000,...,0.839,1.000,0.000,1.000,4393_2949,31468,256,8,;9;,"MULTIPOLYGON (((643837.456 5501263.787, 643837..."
27,2199,14934,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4355_2954,31467,8,8,;9;,"MULTIPOLYGON (((605788.726 5505766.102, 605788..."
28,2207,15013,0,1,1.000,0.000,0.814,0.088,0.000,0.099,...,1.000,1.000,0.000,1.000,4301_2957,31467,16,16,;9;,"MULTIPOLYGON (((551447.411 5507717.534, 551447..."
29,2208,15015,1,3,1.000,0.000,0.865,0.135,0.000,0.000,...,1.000,1.000,0.000,1.000,4309_2957,31467,16,16,;9;,"MULTIPOLYGON (((559443.246 5507824.439, 559443..."
30,2318,15391,1,1,1.000,0.000,0.810,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4289_2969,31467,16,16,;9;,"MULTIPOLYGON (((539294.318 5519551.831, 539294..."
31,2321,15396,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4309_2969,31467,16,16,;9;,"MULTIPOLYGON (((559283.394 5519820.606, 559283..."
32,2322,15398,0,3,1.000,0.000,0.805,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4317_2968,31467,16,16,;9;,"MULTIPOLYGON (((567291.190 5518927.951, 567291..."
33,2358,15504,0,2,1.000,0.000,0.801,0.047,0.000,0.101,...,1.000,1.000,0.000,1.000,4293_2973,31467,16,16,;9;,"MULTIPOLYGON (((543238.774 5523605.173, 543238..."
34,2502,15967,0,3,1.000,0.000,0.815,0.054,0.000,0.000,...,1.000,1.000,0.000,1.000,4325_2988,31467,16,16,;9;,"MULTIPOLYGON (((575020.218 5539028.828, 575020..."
35,2504,15972,0,2,1.000,0.000,0.827,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4345_2988,31467,64,16,;9;,"MULTIPOLYGON (((595010.273 5539294.674, 595010..."
36,2507,15975,0,1,1.000,0.000,0.876,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4357_2988,31468,16,16,;9;,"MULTIPOLYGON (((607004.502 5539453.539, 607004..."
37,2574,16188,1,1,1.000,0.000,0.860,0.000,0.000,0.140,...,1.000,1.000,0.000,1.000,4317_2996,31467,16,16,;9;,"MULTIPOLYGON (((566917.419 5546918.654, 566917..."
38,2605,16292,1,4,1.000,0.000,0.840,0.160,0.000,0.000,...,1.000,1.000,0.000,1.000,4293_3001,31467,16,16,;9;,"MULTIPOLYGON (((542864.041 5551594.988, 542864..."
39,2614,16316,1,4,1.000,0.000,0.875,0.000,0.000,0.000,...,1.000,0.875,0.125,1.000,4388_3001,31468,16,16,;9;,"MULTIPOLYGON (((637819.244 5552860.996, 637819..."
40,2634,16405,0,2,1.000,0.000,0.827,0.133,0.000,0.000,...,1.000,0.960,0.040,1.000,4309_3005,31467,16,16,;9;,"MULTIPOLYGON (((558801.627 5555808.139, 558801..."
41,2689,16631,1,1,1.000,0.000,0.922,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4349_3012,31467,16,16,;9;,"MULTIPOLYGON (((598687.888 5563341.023, 598687..."
42,2741,16836,1,1,1.000,0.000,1.000,0.000,0.000,0.000,...,1.000,1.000,0.000,1.000,4359_3020,31468,64,16,;9;,"MULTIPOLYGON (((608575.939 5571472.735, 608575..."
43,2786,17029,0,1,1.000,0.000,0.817,0.183,0.000,0.000,...,1.000,1.000,0.000,1.000,4379_3029,31468,16,16,;9;,"MULTIPOLYGON (((628448.018 5580735.865, 628448..."

In [33]:
# get extents of shape 
x_min = forest.bounds.iloc[0,0]
x_max = forest.bounds.iloc[0,2]
y_min = forest.bounds.iloc[0,1]
y_max = forest.bounds.iloc[0,3]
# transform to lon/lat for plotting if needed
forest_wgs = forest.to_crs('EPSG:4326')
longitude_extents = (forest_wgs.bounds.iloc[0,0],forest_wgs.bounds.iloc[0,2])
latitude_extents  = (forest_wgs.bounds.iloc[0,1],forest_wgs.bounds.iloc[0,3])

forest_wgs.bounds

           minx       miny       maxx       maxy
0     10.286685  47.320376  10.308198  47.335003
1     10.260342  47.338447  10.281856  47.353070
2     10.313227  47.338302  10.334755  47.352934
3     10.233981  47.356513  10.255495  47.371130
4     10.286885  47.356380  10.308413  47.371007
...         ...        ...        ...        ...
2837  10.697715  50.323023  10.720692  50.337731
2838  11.259526  50.327104  11.282667  50.341916
2839  10.725524  50.304861  10.748500  50.319574
2840  10.781063  50.268525  10.804038  50.283249
2841  11.173943  50.274079  11.197033  50.288874

[2842 rows x 4 columns]